/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
